@tailwind base;
@tailwind components;
@tailwind utilities;

.convergence {
    font-family: "Convergence", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.invite-progress-bar-container {
    width: 100%;
    background-color: #111111;
    border-radius: 25px;
}

.invite-progress-bar {
    height: 12px;
    /* Adjust this value to change the progress */
    background: linear-gradient(to right, #2b3c99, #4764ff);
    border-radius: 20px;
    text-align: center;
    line-height: 12px;
    color: white;
    font-weight: bold;
}

.rank-progress-bar-container {
    width: 100%;
    background-color: #111111;
    border-radius: 25px;
}

.rank-progress-bar {
    height: 12px;
    /* Adjust this value to change the progress */
    background: linear-gradient(to right, #ffffff, #ffd53e);
    border-radius: 20px;
    line-height: 12px;
}

::-webkit-scrollbar {
    display: none;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 48;
}

#RFS-StepButton span {
    height: 24px;
}

.rotate {
    animation:spin 3s linear infinite;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}